.detalles-entrada{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
  height: 100vh;
  

  
  .entrada{
    margin-top: -150px;
    max-width: 700px;
    box-shadow: 0 0 8px -5px rgba($color: #000000, $alpha: .5);
    padding: 45px 35px;
    color: #666666;
    position: relative;

    .regresar{
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .titulo{
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .head{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .fecha, .autor{
        border-bottom: 1px solid rgba($color: #666666, $alpha: .5);
      }
    }
    .cuerpo{
      margin-bottom: 25px;
    }
    .btn-delete{
      border: none;
      padding: 5px 35px;
      font-size: .8rem;
      border-radius: 5px;
      background-color: #f08080;
      color: #edf2f4;
      cursor: pointer;
    }
  }
}