.form-nueva-entrada{

  height: 100vh;
  background-color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;

  .return{
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .titulo{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 40px 0;
    color: #6c757d;
  }

  form{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f5f3f4;
    width: 300px;
    height: auto;
    padding: 35px 20px;
    box-shadow: -10px 18px 15px 5px rgba($color: #cccacb, $alpha: .6);

    input, textarea{
      margin-top: 15px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #6c757d;
      max-width: 300px;
      max-height: 250px;
      padding: 5px;
      text-align: center;
    }
    input:focus, textarea:focus{
      outline: none;
    }
    label{
      display: flex;
      flex-direction: column;

      span{
        color: #6c757d;
      }
    }

    .btn-guardar{
      border: none;
      border-radius: 5px;
      background-color: #f5cb5c;
      padding: 8px 0;
      margin-top: 25px;
      color: #f5f3f4;
      cursor: pointer;
    }
  }

}